body {
  margin: 0;
  background-color: rgb(211, 209, 209);
}

.main {
  padding: 8px;
}

.item-wrapper.bounding-box {
  margin: 0 auto;
  max-width: 1440px;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .picture-and-sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
  }
}

@media screen and (min-width: 1024px) {
  .img-gallery {
    /* min-width: 1024px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 58%;
    height: 100%;
    text-align: center;
    border: -1px solid black;
  }
}

.img-gallery span {
  position: relative;
  align-self: center;
}
