button {
  all: unset;
  appearance: none;
  margin: 0;
}

[class*=sb-parent] {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.sidebar {
  flex-wrap: wrap;
  position: relative;
  flex: 1 1 auto;
  /* background-color: rgb(190, 185, 185); */
  /* min-width: 500px; */
  width: 42%;
}

.item-facts {
  margin-bottom: 15px;
  list-style-type: disc;
  background-color: #fff;
}

.item-facts ul {
  margin: 0 0 0 20px;
  padding-inline-start: 0px;
}

.sale-icon{
  background-size: 40px 37px;
  height: 37px;
  width: 40px;
  margin-right: -15px 10px;
  padding: 0 10px 0 0;
  align-self: center;
}

/* -------------- Price component -------------------*/
.price-wrapper {
  display: flex;
  margin-bottom: 15px;
  background-color: #fff;
}

.price-dollar-sign {
  font-size: 24px;
  font-family: Helvetica;
  font-weight: bold;
  vertical-align: 1ex;
}

.price {
  position: relative;
}

.price-dollars {
  font-family: Helvetica;
  font-size: 44px;
  font-weight: bold;
}

.price-cents {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  vertical-align: 1ex;
}

.sale-discount-amount {
  color: #009a4f;
}

/* -------------- Consumer card component -------------------*/

.consumer-card-wrapper {
  display: flex;
  width: 95%;
  position: relative;
  margin-top: -20px;
  margin-bottom: 15px;
  padding: 0 15px 15px;
  background-color: #fff;
}

.consumer-card-wrapper a{
  text-decoration: none;
  color: #3e7697;
  font-size: 14px;
}

.consumer-card-png {
  height: 25px;
  padding-right: 0.8rem;
  aspect-ratio: auto 50/50;
  border: 0 solid;
  box-sizing: border-box;
  vertical-align: middle;
  align-self: center;
}

.consumer-card-png.info {
  height: 12px;
  width: 12;
  padding: 0;
  margin: 0;
}

.fulfillment-tiles.fulfillment-headers {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  padding-right: 5px;
}

.fulfillment-header-pickup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 45px;
  max-width: 165px;
  width: 50%;
}

.fulfillment-header-delivery {
  display: flex;
  align-items: end;
  margin-right: 0;
  flex-direction: row;
  justify-content: space-between;
  max-width: 165px;
  width: 50%;
}

.cart-info.fulfillment-cards {
  display: flex;
  flex-flow: row wrap;
}

.fulfillment-card {
  width: 172px;
  margin-right: 11px;
  word-wrap: break-word;
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  max-width: 172px !important;
  min-height: 142px !important;
  padding: 10px;
  position: relative;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px 0 4px 4px;
}

.fulfillment-card:hover {
  box-shadow: 0 4px 9px 0 #ccc, 0 3px 10px 0 #ccc;
  /* box-shadow: 0 4px 9px 0 #000000, 0 3px 10px 0 #000000; */
  transform: translateY(-2px);
  /* border: 1px solid #f96302; */
  height: auto;
  transition: all .2s ease-in-out;
}

.fulfillment-card.selected {
  border: 1px solid;
  border-color: #f96302 #f96302 #f96302 #f96302;
}

.fulfillment-card.selected::before {
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: #f96302 #f96302 #0000 #0000;
  content: "";
  position: absolute;
  right: -1px;
  top: -1px;
}

.fulfillment-card.selected::after {
  content: url(https://assets.thdstatic.com/images/v1/alert-check-white.svg);
  position: absolute;
  right: -4px;
  top: -4px;
  transform: scale(.6);
}

.fulfillment-card-text {
  font-size: 14px;
  line-height: normal !important;
  min-height: 38px;
}

.fulfillment-card-title {
  min-height: 21px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: -2px;
  padding: 15px 0 10px;
}

.card-subtitle-qty {
  min-height: 21px;
}

.card-subtitle-qty span {
  color:#00873c;
}

.card-subtitle-special-msg {
  padding-top: 10px;
  width: 100%;
  margin-top: auto;
  color:#00873c;
  font-weight: bold;
}


/* --------------LocationInfo component -------------------*/
/* 
location-info sb-parent">
        <fieldset className="location-info-fieldset"> */

.location-info {
  display: flex;
  flex-direction: column;
  height: 50px;
  background-color: #fff;
}

.location-info-fieldset {
  height: 50px;
  border: 0;
  font-size: 16px;
  line-height: 2;
}

.location-info-svg {
  fill: #009a4f;
  width: 25px;
}

.location-info-stock-count {
  color: #009a4f;
  padding-right: 10px;
}

.location-info-stock-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* -------------- CartInfo component -------------------*/
.fulfillment-tiles {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #fff;
}

.cart-info-truck {
  max-width: 360px;
  background-color: #fff;
}

.cart-info-truck-msg {
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;
  padding-top: 10px;
}

.cf-truck-icon {
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 12px;
  padding-bottom: 0;
  background-image: url(https://assets.thdstatic.com/images/v1/delivery-express-truck.svg);
  background-repeat: no-repeat;
}

.stock-location {
  display: flex;
  flex-direction: row;
}

.cart-info-wrapper {
  display: flex;
  flex-direction: column;
}


/* -------------- Protection plan -------------------*/

.protection-plan {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  margin-bottom: 15px;
  max-width: 100vw;
  overflow: hidden;
  background-color: #fff;
}

.protection-plan.inside-wrapper {
  margin-left: 0.4rem;
  flex-direction: row;
  padding: 10px;
}

.protection-plan-shield-wrapper {
  margin-right: 1.2rem;
}

.protection-plan-shield-icon {
  width: 32px;
  height: 32px;
  vertical-align: initial;
  display: inline-block;
  fill: #121111;
}

.protection-plan-info-all {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  gap: 0.8rem;
}

.protection-plan-info-title {
  font-weight: bold;
  font-size: 22px;
  font-family: helvetica;
  line-height: 1.25;
}

.protection-plan-info-text {
  font-size: 16px;
}

.protection-plan-options {
  display: flex;
  flex-direction: column;
}

.protection-plan-options-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.protection-plan-options-btn {
  margin-right: 16px;
}

.protection-plan-WTE {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}

.protection-plan-WTE span{
  font-size: 16px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
  margin-top: -0.4rem;
}

.protection-plan-WTE svg{
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: initial;
  display: inline-block;
}

/* -------------- Add to card section component -------------------*/
.add-to-cart-wrapper {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
  max-width: 100vw;
  overflow: hidden;
}

.add-to-cart-options {
  display: flex;
  align-items: center;
  max-width: 420px;
}

.a2c-quantity-wrapper {
  align-self: baseline;
  min-width: 142px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}

.a2c-button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 278px;
  background-color: #f96302;
  height: 44px;
}

.a2c-quantity-btn {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  min-width: 42px;
  padding: 0;
  text-align: center;
  width: 42px;
}

.a2c-btn {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}

.a2c-cart-img {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 0.8rem;
  fill: whitesmoke
}

/* -------------- ReturnInfo component -------------------*/
.return-info {
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: #fff;
}

.return-info.all {
  display: flex;
  flex-direction: column;
}

.return-info img {
  height: 25px;
  width: 32px;
  margin-right: 15px;
  max-width: 100%;
  align-self: center;
}

.return-info.message-title {
  font-family: helvetica;
  font-weight: bold;
  font: 1.8rem;
}

.return-info.message-text span.bold{
  font-weight: bold; 
}