.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: left;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  border: -1px solid black;
  margin-bottom: 15px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.gallery-header {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}

.gallery-best-seller {
  display: flex;
}
.gallery-best-seller-content {
  border: solid;
  background-color: #3e7697;
  color: white;
  font-size: small;
  padding: 0.75%;
  font-size: small;
  font-weight: lighter;
}

.gallery-manufacturer {
  display: flex;
  font-weight: lighter;
  padding-bottom: 0.7%;
}

.gallery-item-title {
  display: flex;
  align-self: left;
  justify-content: left;
  font-weight: bold;
  font-size: larger;
}

.gallery-review-questions-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5em;
  align-items: center;
}

.gallery-review-summary,
.gallery-questions-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  margin-top: 0.6em;
  padding-right: 0.5em;
  cursor: pointer;
}

.gallery-review-icon-container {
  padding-right: 0.5em;
}

.star-icon {
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 2%;
  padding-bottom: 0.1em;
}

.gallery-photos-container {
  display: flex;
  flex-wrap: row;
  padding-left: 3%;
  margin-bottom: 6%;
}

.gallery-thumbnail-column-container {
  display: flex;
  flex-direction: column;
}

.gallery-main-image {
  cursor: crosshair;
  object-fit: cover;
  font-size: 0px;
  position: relative;
  user-select: none;
  margin-left: 5%;
  margin-right: 5%;
  margin: 5%;
}

.btn-thumbnail {
  position: relative;
}

.btn-thumbnail :hover {
  border: solid;
  border-width: 0.22rem;
  border-color: rgb(247, 100, 3);
  cursor: pointer;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.gallery-overlay-text {
  color: white;
  font-size: 16px;
}

.gallery-share-print-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}

.gallery-share-container {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;
}

.gallery-share-button {
  display: flex;
  align-items: center;
}

.gallery-share-button img,
.gallery-print-button img {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}
