<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="./index.jsx"></script>
    <link href="./app.css" rel="stylesheet" />
  </head>
  <body>
    <header>
        <div id="tophat">
            <span id="tophat-span">#1 Home Improvement Retailer</span>
        </div>
        <div id="header-root">
            <div class="header-content">
                <div class="side-by-side" id="home-depot-logo">
                    <img src="./header-images/HDLogo.png" alt="Home Depot Logo">
                </div>
                <div class="side-by-side" id="store-loc-time-zip"> 
                    <div class="location-divs" id="storeLogo"></div>
                    <div class="location-divs" id="storeLocation"></div>
                    <div class="location-divs" id="storeTime"></div>
                    <div class="location-divs" id="truck"></div>
                    <div class="location-divs" id="storeZip"></div>
                </div>
                <div class="side-by-side" id="searchbar">
                    <input type="text" id="searchInput" placeholder="What can we help you find today?  ">
                    <button onclick="performSearch()">
                        <img src="./header-images/search.png">
                    </button>
                </div>
                <div class="side-by-side" id="navIcons">
                    <img src="./header-images/bucket.png">
                    <img src="./header-images/services.png">
                    <img src="./header-images/DIY.png">
                    <img src="./header-images/me.png">
                </div>
                <div class="side-by-side" id="cartIcon">
                    <img src="./header-images/cart.png" alt="Cart Logo">
                </div>
            </div>
        </div>
    </header>
    <div id="root"></div>
  </body>
</html>
