.zone-card {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
    max-width: 100vw;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
  }
  
  .grid-container {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
  }
  
  .panel {
    background: #fff;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggleImg {
    margin-right: 10px;
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  