/* {QA HEADER} */
#qaHeaderCont {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: blue;
}
#qaHeaderSlim {}
#qaHeaderLeft {}
#qaHeaderLeftSub {}
#qaHeaderLeftSubLeft {}
#qaHeaderLeftSubRight {}
#qaHeaderMiddle {}
#qaHeaderRight {}
#qaHeaderRightCont {}
#qaHeaderRightBtnBox {}
#qaHeaderRightText {}

/* {NAVIGATION BAR} */ 
#qaNavCont {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: yellow;
}
#qaNavSlim {}
#qaNavLeft {}
#qaNavLeftSub {}
#qaNavRight {}
#qaNavRightDropDown {}

/* {QUESTION DISPLAY} */ 
#qaQuestionCont {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: red;
}
#qaQuestionLeft {}
#qaQuestionLeftTop {}
#qaQuestionLeftTopQuestion {}
#qaQuestionLeftBottom {}
#qaQuestionLeftBottomSub {}
#qaQuestionRight {}
#qaQuestionRightSub {}
#qaQuestionRightCount {}

/* {ANSWER BOX (switch statement)} */ 
#qaAnswerCont {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: green;
}
#qaAnswerTop {}
#qaAnswerTopLeft {}
#qaAnswerTopLeftTop {}
#qaAnswerTopLeftBottom {}
#qaAnswerTopLeftBottomLeft {}
#qaAnswerTopRight {}
#qaAnswerBottom {}
#qaAnswerBottomLeft {}
#qaAnswerBottomRight {}

/* {Q&A FOOTER} */ 
#qaDropDownFooter {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: tan;
}
#qaDropDownFooterSub {}
#qaDropDownFooterSubTop {}
#qaDropDownFooterBottom {}
 