button {
all:unset;
appearance:none;
margin:0
}

[class*=sb-parent] {
padding:10px;
border-radius:3px;
margin-bottom:15px
}

@media screen and (min-width: 1024px) {
.sidebar {
flex-wrap:wrap;
position:relative;
flex:1 1 auto;
flex-grow:1;
width:40%
}
}

.price-wrapper {
display:flex;
margin-bottom:15px;
background-color:#fff
}

.inside-price-wrapper {
display:flex;
padding:5px
}

.sale-icon {
background-size:40px 37px;
height:37px;
width:40px;
margin-right:-15px 10px;
padding:0 10px 0 0;
align-self:center
}

.price-dollar-sign {
vertical-align:1ex;
font:700 24px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.price {
position:relative
}

.price-dollars {
font-feature-settings:normal;
font-variation-settings:normal;
color:#333;
font:700 44px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.price-cents {
vertical-align:1ex;
font:700 24px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.sale-info {
margin-left:10px
}

.sale-limit {
font:14px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.sale-price-original {
font:14px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.sale-discount-amount {
color:#009a4f;
font:14px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.consumer-card-wrapper {
display:flex;
position:relative;
margin-top:-20px;
margin-bottom:15px;
padding:10px 15px 15px;
background-color:#fff
}

.consumer-card-wrapper a {
text-decoration:none;
color:#3e7697;
font:14px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.consumer-card.info {
font-family:helvetica-neue,Helvetica Neue,Helvetica,Arial,sans-serif
}

.consumer-card-png {
height:25px;
padding-right:.8rem;
aspect-ratio:auto 50/50;
border:0 solid;
box-sizing:border-box;
vertical-align:middle;
align-self:center
}

.consumer-card-png.info {
height:12px;
width:12px;
padding:0;
margin:0
}

.consumer-card.info span {
font-family:helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
font-weight:700
}

.item-facts {
margin-bottom:15px;
list-style-type:disc;
background-color:#fff;
font-family:helvetica-neue-55-roman,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.item-facts ul {
margin:0 0 0 20px;
padding-inline-start:0
}

.item-facts a {
color:#121111
}

.location-info {
display:flex;
flex-direction:column;
background-color:#fff;
font-family:helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.location-info-fieldset {
border:0;
margin:0;
padding:0;
font:16px/2 helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.location-info-fieldset legend {
padding-bottom:5px
}

.location-info-fieldset section span {
height:fit-content
}

.location-info-svg {
fill:#009a4f;
width:25px;
height:25px
}

.location-info-stock-count {
color:#009a4f;
padding-right:10px
}

.location-info-stock-info {
display:flex;
flex-wrap:nowrap;
flex-direction:row
}

.fulfillment-tiles {
display:flex;
flex-direction:column;
background-color:#fff
}

.fulfillment-tiles.fulfillment-headers {
display:flex;
flex-direction:row;
padding-bottom:8px;
padding-right:5px;
font-family:helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.fulfillment-header-pickup {
display:flex;
flex-direction:row;
justify-content:space-between;
margin-right:45px;
max-width:165px;
width:50%
}

.fulfillment-header-pickup span {
color:#3e7697
}

.fulfillment-header-delivery {
display:flex;
align-items:end;
margin-right:0;
flex-direction:row;
max-width:165px;
width:50%
}

.fulfillment-header-delivery span {
color:#3e7697
}

.cart-info.fulfillment-cards {
display:flex;
flex-flow:row wrap
}

.fulfillment-card {
width:172px;
margin-right:11px;
word-wrap:break-word;
display:flex;
flex:1 0 0;
flex-direction:column;
max-width:172px!important;
min-height:142px!important;
padding:10px;
position:relative;
text-align:left;
border:1px solid #ccc;
border-radius:4px 0 4px 4px
}

.fulfillment-card:hover {
box-shadow:0 4px 9px 0 #ccc,0 3px 10px 0 #ccc;
transform:translateY(-2px);
height:auto;
transition:all .2s ease-in-out
}

.fulfillment-card.selected {
border:1px solid;
border-color:#f96302
}

.fulfillment-card.selected::before {
border-style:solid;
border-width:30px 0 0 30px;
border-color:#f96302 #f96302 #0000 #0000;
content:"";
position:absolute;
right:-1px;
top:-1px
}

.fulfillment-card.selected::after {
content:url(https://assets.thdstatic.com/images/v1/alert-check-white.svg);
position:absolute;
right:-4px;
top:-4px;
transform:scale(.6)
}

.fulfillment-card-text {
font-size:14px;
line-height:normal!important;
min-height:38px
}

.fulfillment-card-title {
min-height:21px;
margin-right:-2px;
padding:15px 0 10px;
font:20px helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.fulfillment-card-subtitle {
font:14px helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.card-subtitle-qty {
min-height:21px;
font-family:helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.card-subtitle-qty span {
color:#00873c;
font-family:helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.card-subtitle-special-msg {
padding-top:10px;
width:100%;
margin-top:auto;
color:#00873c;
font-weight:700;
font-family:helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.cart-info-truck {
background-color:#fff
}

.cart-info-truck div {
display:flex;
max-width:360px
}

.cart-info-truck-msg {
padding-right:10px;
padding-top:10px;
font:14px/18px helvetica-neue,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.cart-info-truck-msg span {
font-family:helvetica-neue-bold,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight:600
}

.cf-truck-icon {
height:32px;
width:32px;
float:left;
margin-right:10px;
padding-right:10px;
margin-top:12px;
padding-bottom:0;
background-image:url(https://assets.thdstatic.com/images/v1/delivery-express-truck.svg);
background-repeat:no-repeat
}

.stock-location {
display:flex;
flex-direction:row
}

.cart-info-wrapper {
display:flex;
flex-direction:column
}

.protection-plan {
display:flex;
flex-direction:row;
border-radius:3px;
margin-bottom:15px;
max-width:100vw;
overflow:hidden;
background-color:#fff
}

.protection-plan-shield-wrapper {
margin-right:1.2rem
}

.protection-plan-shield-icon {
width:32px;
height:32px;
vertical-align:initial;
display:inline-block;
fill:#121111
}

.protection-plan-info-all {
display:flex;
flex-direction:column;
line-height:1.25;
gap:.8rem
}

.protection-plan-info-title {
font:700 22px/1.25 helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.protection-plan-info-text {
font:16px helvetica-neue,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.protection-plan-options {
display:flex;
flex-direction:column;
gap:10px
}

.protection-plan-options-btn {
display:flex;
flex-direction:row;
margin-right:16px
}

.protection-plan-radio-svg {
position:absolute;
width:1.2rem;
top:3.6px;
left:4px
}

.prot-option-title {
display:flex;
justify-content:center;
align-content:center;
margin-left:8px;
font-family:helvetica-neue,Helvetica Neue,Helvetica,Arial,sans-serif
}

.prot-option-title p {
position:relative;
padding:0;
margin:0;
line-height:28px
}

.protection-plan-btn-wrap input {
position:absolute;
z-index:-1
}

.protection-plan-btn-wrap {
width:1.7rem;
height:1.7rem;
border-radius:999px
}

.protection-plan-btn-wrap span {
position:absolute
}

.protection-plan-WTE {
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:fit-content
}

.protection-plan-WTE span {
text-decoration-line:underline;
text-decoration-thickness:2px;
text-underline-offset:1px;
margin-top:-.4rem;
font:16px helvetica-neue,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.protection-plan-WTE svg {
width:.9rem;
vertical-align:initial;
display:inline-block;
margin-left:3px;
margin-bottom:8px
}

.add-to-cart-wrapper {
background-color:#fff;
border-radius:3px;
margin-bottom:15px;
max-width:100vw;
overflow:hidden
}

.add-to-cart-options {
display:flex;
align-items:center;
max-width:420px
}

.a2c-quantity-wrapper {
align-self:baseline;
min-width:142px;
margin-right:15px;
display:flex;
flex-direction:row
}

.a2c-button-wrapper {
display:flex;
justify-content:center;
align-content:center;
flex-wrap:wrap;
flex-basis:100%;
max-width:278px;
background-color:#f96302;
height:44px
}

.a2c-quantity-btn {
border:1px solid #ccc;
box-sizing:border-box;
float:left;
height:42px;
min-width:42px;
padding:0;
text-align:center;
width:42px;
font:600 20px helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.a2c-btn {
display:flex;
flex-direction:row;
color:#f5f5f5;
font:700 16px helvetica-neue-75-bold,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.a2c-cart-img {
display:block;
width:16px;
height:16px;
margin-right:.8rem;
fill:#f5f5f5
}

.return-info {
display:flex;
flex-direction:row;
align-items:left;
background-color:#fff
}

.return-info.all {
display:flex;
flex-direction:column
}

.return-info img {
height:25px;
width:32px;
margin-right:15px;
max-width:100%;
align-self:center
}

.return-info.message-title {
font:700 18px/1.5 helvetica-neue-bold,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.return-info.return-info.message-text {
font:14px helvetica-neue,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.return-info.return-info.message-text a {
margin-left:5px;
color:#3e7697;
text-decoration:none
}

.return-info.message-text span.bold {
font-weight:700
}