#qaNavCont {
    display: flex;
    width: 97%;
    height: 50px;
    background-color: WHITE;
    border: 1px solid grey;
    padding: 10px;
    margin-left: 10px;
}
#qaNavSlim {
    display: flex;
    display: flexbox;
    align-self: center;;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    margin: 10px 10px 10px 10px;
}
#qaNavLeft {
    width: 200px;
    height: 40px;
    /* background-color: rgb(116, 29, 111); */
    margin: 10px;
    align-self: center;
    justify-content: center;
}
#qaNavLeftSub {
    margin-top: 10px;
    width: 200px;
    height: 20px;
    /* background-color: rgb(194, 114, 38); */
}
#qaNavRight {
    display: flex;
    width: 200px;
    height: 30px;
    background-color: rgb(209, 143, 72);
    align-self: center;
    margin-left: 900px;
}