.consumerCardTranslucent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.448);
    z-index: 20;
}

.consumerCardModal {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    background-color: rgb(255 255 255);
    border-radius: 0.2rem;
    z-index: 66;
    border: 1px solid black;
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.43);
}

.consumerCardModal div:last-of-type {
    margin-top: auto;
}

.cardModal-titlebox {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
}

.cardModal-titlebox button:last-of-type {
    margin-left: auto;
}

.titlebox-title {
    color: rgb(33 33 32);
    font-size: 22px;
    font-family: helvetica-neue-75-bold, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
}

.titlebox-exit-btn {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.titlebox-exit-btn svg {
    height: 16px;
    width: 16px;
    align-self: center;
}

.cardModal-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.cardModal-main-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.card-img-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 24px;
    padding-right: 24px;
}

.card-img-wrapper img {
    width: 185px;
    height: 103;
}

.discount-info {
    font-family: helvetica-neue-55-roman, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    color: rgb(33, 33, 33);
}

.card-info-dump {
    display: flex;
    flex-direction: row;
    font-family: helvetica-neue-55-roman, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    color: rgb(33, 33, 32);
}

.card-info-dump div:first-of-type {
    margin-right: 5px;
}

.consumerCard-apply-now {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.consumerCard-apply-now a {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 44px;
    border-radius: 3px;
    background-color: rgb(249 99 2);
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica-neue-75-bold, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-decoration: none;
    color: white;
}

.consumerCard-apply-now a span {
    align-self: center;
}